.logo-main{
    width: 60% !important;
}
.footer-logo-size{
    width: 300px !important;
}
.footer-logo{
    margin-top: 30px !important;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
}
.testimonail-image{
    width: 207px !important;
    height: 207px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}